li.zap_options > a:before {
	content: "" !important;
	display: inline-block;
	background: url('../images/zap.ico') no-repeat center center;
	height: 16px;
    width: 16px;
	position: relative;
	top: 3px;
}

#product_cat-all.tabs-panel {
	width: 368px; 
	padding: 10px 15px;
}

#product_cat-all.tabs-panel #product_catchecklist {
	margin: 0;
}